@import 'mixins';
$size: 50vmin;
$blur: .15*$size;
$link_color: #222;
$black: #000;
$black_lighter: #444;
$white: #fff;
$darker_white: #eee;
$teal: #009688;
$gray: #ccc;
$light_blue: #0091EA;

* {
	margin: 0; padding: 0;
}

a {
	color: $link_color;
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
}
.page-brand {
	float: left;
	transform: translateX(-400px);
	font-weight: 500;
}


nav.nav {
	padding: 25px;
	ul.navbar > li {
		display: inline-block;
		a {
			color: $link_color;
			text-decoration: none;
			font-size:1em;
			margin-left: 15px;
			padding:10px 15px;
			position: relative;
			font-weight: 500;
		}
	}
}
a#special {
	background: $teal;
	color: $white;
}
a#special:before {
	content: "";
	top: 0;
	left: 0;
	height: 39px;
	width: 0;
	background: rgba($white, 0.3);
	@include transition(all .3s ease);
}
a#special:hover:before, a#special:active:before {
	width: 100%;
}
nav.nav ul.navbar > li a:before {
	content: "";
	width: 0px;
	height:3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: $black;
	@include transition(all .3s ease);
}
nav.nav ul.navbar > li a:hover:before, nav.nav ul.navbar > li a:active:before {
	width: 100%;
}
ul.navbar {
	text-align: right;
}

.profile {
	text-align: center;
	margin-top:45px;
	img {
		width: 250px;
		border-radius: 150px;
		border: 3px solid $gray;
	}
	.name {
		margin-top:15px;
		font-size: 2em;
		font-weight: 500;
	}
	.subtitle {
		font-size: 1em;
		font-weight: 400;
		text-transform: uppercase;
		margin-top:5px;
		letter-spacing: 0.1em;
	}
}

.section {
	width: 65%;
	margin: 85px auto;
	text-align: center;
	h1 {
		font-size: 2.4em;
		font-weight: 200;
		margin-bottom:0px;
	}
}

.skills {
	.skills-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px;
		figure {
			padding:25px;
			margin: 0 25px 25px 25px;
			h2 {
				margin-bottom:5px;
				font-weight: 300;
			}
		}
	}
}

svg {
	width: 150px;
}


li {
	list-style: none;
}

h1.section-title, h2.section-title {
	margin-bottom:25px;
	font-weight: 300;
	letter-spacing: 1px;
	position: relative;
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

a.project {
	margin:15px 25px;
	color: $link_color;
	text-decoration: none;
	font-weight: 600;
	padding:15px 35px;
	position: relative;
	@include transition(all 0.15s ease-in-out);
}

a.project:before {
	content: "";
	width: 0px;
	height:3px;
	position: absolute;
	bottom: 0;
	left: 0;
	background: $black;
	@include transition(all .3s ease);
}
a.project:hover:before {
	width: 100%;
}


.findme-inner h1 {
	margin-bottom:25px;
}
.findme-inner h2 {
	margin-top: 25px;
	margin-bottom:-10px;
}

.findme-inner svg {
	width: 270px;
}

.contact-form {
	margin-top: 45px;
}
input, textarea {
	border: none;
	border-bottom: 3px solid $black;
	outline: none;
	width: 100%;
	padding:10px;
	margin:10px;
	font-size: 1.2em;
	resize: vertical;
	position: relative;
	@include transition(all .3s ease-in-out);
	&:focus {
		border-bottom: 3px solid $light_blue;
	}
}

input[type=submit] {
	outline: none;
	border: none;
	border-bottom: 2px solid $black_lighter;
	width:20%;
	float: right;
	background: $white;
	font-weight: 200;
	@include transition(all .3s ease-in-out);
	position: relative;
	cursor: pointer;
	&:hover {
	}
}
input[type=submit]:after {
	font-family: FontAwesome;
	content: '\f105';
}

.available, .unavailable {
	padding:45px;
}
.hire { text-align: center; }
a.email {
	display: inline-block;
	padding: 10px;
	background: $teal;
	color: $white;
	position: relative;
	@include transition(all .3s ease);
	&:hover {
		box-shadow: 0 5px 15px fade-out($black, .5);
		padding-right:40px;
	}
	&:after {
		font-family: FontAwesome;
		content: '\f003';
		position: absolute;
		top: -15px;
		opacity: 0;
		@include transition(all .4s ease);
		padding-left: 10px;
		color: $white;
		font-size: 1.3em;
	}
	&:hover:after {
		opacity: 1;
		top: 50%;
		transform: translateY(-50%);
	}
}
.footer {
	text-align: center;
	padding:25px;
	margin-top:85px;
}


.hire h1.title {
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 5px;
	display: inline-block;
}

.twitter-icon {
	padding: 10px;
	color: #00aced;
	border: 2px solid #00aced;
	border-radius: 100%;
	z-index: 999;
	widows: 29.719px;
	height: 32px;
	@include transition(all .4s ease-in-out);

	&:hover {
		background: #00aced;
		color: #fff;
	}
}



.facebook-icon {
	padding: 10px;
	color: 	#3b5998;
	width: 29.719px;
	height: 32px;
	border: 2px solid #3b5998;
	border-radius: 100%;
	z-index: 999;
	@include transition(all .4s ease-in-out);
	&:hover {
		background: #3b5998;
		color: #fff;
	}
}


.instagram-icon {
	padding: 10px;
	color: 	#D92E7F;
	width: 29.719px;
	height: 32px;
	border: 2px solid #D92E7F;
	border-radius: 100%;
	z-index: 999;
	@include transition(all .4s ease-in-out);
	&:hover {
		background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
		color: #eee;
		border: none;
	}
}


.thumbnail-image {
	width: 200px;
	height: 200px;
	@include transition(0.3s all ease-in-out);

	&:hover {
		transform: scale(1.1,1.1);
		box-shadow: 0 0 15px rgba(#333,.8);
		border: 1px solid white;
	}
}

.instagram-check {
	margin-top: 40px;

}

.help {
	font-size: .5em;
	position: absolute;
	border: 2px solid #000;
	border-radius: 100%;
	@include transition(0.3s all ease-in-out);
	cursor: pointer;
	margin-left: 5px;
	&:hover {
		color: #fff;
		background:#000;
	}
	&:hover:after {
		content: 'Click to Enlarge';
		position: absolute;
		color: #000;
		margin-left: 40px;
		bottom: 10px;
		left: 0;
		font-family: sans-serif;
		font-size: 0.9em;
		background: #111;
		color: #fff;
		@include transition(0.3s all ease-in-out);
		padding: 15px;
	}
}


.hide-on-mobile { display: block; }
.hide-on-mobile-inline { display: inline-block; }
.show-on-mobile { display: none; }
@media only screen and (max-width: 768px) {
	.hide-on-mobile { display: none; }
	.hide-on-mobile-inline { display: none; }
	.show-on-mobile { display: block; }

	.menu {
		float: right;
		font-size:2em;
	}
	nav a { display: block; }
	.navbar-visible {
		display: block;
		padding: 0;
		margin: 0;
		margin-top:55px;
		width: 100%;
	}
	ul.navbar > li {
		padding: 0;
		width: 100%;
		text-align: left;
		background: $darker_white;
		a {
			padding: 0;
			margin: 0;

		}
	}
	nav.nav ul.navbar > li a {
		margin: 0;
	}
	
	section {
		width: 99%;
		margin: 0 auto;
	}

	.special {
		
	}

	.thumbnail-image {
		width: 100%;
		height: 300px;
		margin: 5px 0;
	}
}

