@import 'mixins';
$size: 50vmin;
$blur: 0.15*$size;
$link_color: #222;
$black: #000;
$black_lighter: #444;
$white: #fff;
$darker_white: #eee;
$teal: #009688;
$gray: #ccc;
$light_blue: #0091EA; /* SOCIAL ICONS */
$facebook_color: #3b5998;
$twitter_color: #00aced;
$instagram_unhovered_color: #D92E7F;
$instagram_hovered_color: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);


* {
	margin: 0;
	padding: 0;
}

a {
	color: $link_color;
	text-decoration: none;
}

body {
	font-family: 'Raleway', sans-serif;
	// overflow-x: hidden;
}

.header {
	background: url("../images/header.jpg") no-repeat fixed top;
	background-size: cover;
	height: 80vh;
	z-index: -1;
}

.header-inner {
	color: $white;
	background: rgba(0,0,0,0.6);
	height: 100%;
}

.small-header {
	height: 20vh;
	text-align: center;
}

.small-header-photography {
	background: transparent url("../images/photography.jpg") no-repeat fixed bottom;
	background-size: cover;
}

.small-header-about {
	background: transparent url("../images/about.jpg") no-repeat fixed bottom center;
	background-size: cover;
}

.small-header-business {
	background: transparent url("../images/business.jpg") no-repeat fixed bottom;
	background-size: cover;
}

.small-header-inner {
	height: 100%;
	background: rgba(0,0,0,0.6);
	color: $white;

	h3 {
		font-size: 2em;
		text-transform: uppercase;
		margin-top: 15px;
	}
}

.page-brand {
	float: left;
	transform: translateX(-400px);
	font-weight: 500;

	a {
		color: $darker_white;
	}

	img {
		width: 50px;
		float: left;
		user-select: none;
	}

	p {
		display: inline-block;
		margin-top: 7px;
		user-select: none;
		margin-left: 6px;
	}
}

.navbar {
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

nav.nav {
	padding: 25px;
	@include transition(all 0.3s ease-in-out);

	ul.navbar > li {
		display: inline-block;
		@include transition(all 0.3s ease-in-out);

		a {
			color: $link_color;
			text-decoration: none;
			font-size: 1em;
			margin-left: 15px;
			padding: 10px 15px;
			position: relative;
			font-weight: 500;
			color: $darker_white;
		}
	}
}

a#special {
	background: $teal;
	color: $white;
}

a#special:before {
	content: "";
	top: 0;
	left: 0;
	height: 39px;
	width: 0;
	transform: none;
	background: rgba($white, 0.3);
	@include transition(all 0.8s ease);
}

a#special:active:before,
a#special:hover:before {
	width: 100%;
}

nav.nav ul.navbar > li a:before {
	content: "";
	width: 0;
	height: 2px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	background: $white;
	@include transition(all 0.5s ease);
}

nav.nav ul.navbar > li a:active:before,
nav.nav ul.navbar > li a:hover:before {
	width: 100%;
}

ul.navbar {
	text-align: right;
	-webkit-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.profile {
	text-align: center;
	margin-top: 10%;

	.name {
		margin-top: 15px;
		font-size: 3em;
		font-weight: 500;
		border-bottom: 2px solid #eee;
		border-top: 2px solid #eee;
		display: inline-block;
		padding: 25px 45px;
	}

	.subtitle {
		font-size: 1.1em;
		font-weight: 400;
		text-transform: uppercase;
		margin-top: 25px;
		letter-spacing: 0.1em;
	}
}

.section {
	width: 65%;
	margin: 85px auto;
	text-align: center;

	h1 {
		font-size: 2.4em;
		font-weight: 200;
		margin-bottom: 0;
	}
}

.skills {
	.skills-inner {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding: 15px;

		figure {
			// padding:25px;
			margin: 0 25px 25px;

			h2 {
				margin-bottom: 5px;
				font-weight: 300;
			}
		}
	}
}

.skill img {
	width: 150px;
}

li {
	list-style: none;
}

h1.section-title,
h2.section-title {
	margin-bottom: 25px;
	font-weight: 300;
	letter-spacing: 1px;
	position: relative;
}

.projects {
	width: 100%!important;
}

.projects-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	// width: 100%;
	margin-left: 0;
	margin-right: 0;
}

.project {
	color: $link_color;
	text-decoration: none;
	font-weight: 600;
	position: relative;
	border-radius: 2%;
	@include transition(all 0.8s ease-in-out);
}
// .project:before {
// 	content: "";
// 	width: 0px;
// 	height:2px;
// 	position: absolute;
// 	bottom: 0;
// 	left: 50%;
// 	transform: translateX(-50%);
// 	background: $black;
// 	@include transition(all .5s ease);
// }
// .project:hover:before {
// 	width: 100%;
// }

.project {
	margin: 10px;

	.project-img {
		width: 400px;
		height: 302.094px!important;
		position: relative;
		border-radius: 2%;
		box-shadow: 0 4px 7px rgba(#222,.5);
		@include transition(all 0.3s ease-in-out);

		&:hover {}
	}

	.overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 15;
		border-radius: 2%;
		background: rgba(#111, .8);
		opacity: 0;
		@include transition(all 0.3s ease-in-out);
	}

	.project-name {
		position: absolute;
		top: 40px;
		left: 50%;
		transform: translateX(-50%) scale(1.2);
		opacity: 0;
		color: #fff;
		z-index: 16;
		font-size: 1.1em;
		font-weight: 400;
		text-transform: uppercase;
		@include transition(all 0.5s ease-in-out);
	}

	.project-description {
		font-size: 0.7em;
		color: #ccc;
		font-weight: 300;
		text-transform: none;
	}

	.buttons {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: #fff;
		z-index: 16;
		opacity: 0;
		@include transition(all 0.5s ease-in-out);

		a {
			color: #bbb;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				color: #fff;
			}
		}

		i {
			font-size: 3em;
			margin: 15px;
		}
	}

	&:hover .buttons,
	&:hover .overlay,
	&:hover .project-name {
		opacity: 1;
	}
}

.findme-inner h1 {
	margin-bottom: 25px;
}

.findme-inner h2 {
	margin-top: 25px;
	margin-bottom: -10px;
}

.findme-inner svg {
	width: 270px;
}

.contact-form {
	margin-top: 45px;
}

input,
textarea {
	border: none;
	border-bottom: 3px solid $black;
	outline: none;
	width: 100%;
	padding: 10px;
	margin: 10px;
	font-size: 1.2em;
	resize: vertical;
	font-family: 'Raleway', sans-serif;
	position: relative;
	@include transition(all 0.3s ease-in-out);

	&:focus {
		border-bottom: 2px solid;
	}
}

textarea {
	font-size: 0.95em;
}

.recommended {
	width: 60%;
	margin: 0 auto 75px;
	border: 2px solid #333;
	padding: 30px;

	.right {
		float: right;
	}

	h1 {
		text-align: left;
		text-transform: uppercase;
		font-weight: 900;
		margin-top: -78px;
		background: #fff;
		display: inline-block;
		position: relative;
		padding: 0 15px;
	}

	hr {
		margin: 15px 0;
		width: 100%;
	}

	button {
		outline: none;
		border: none;
		cursor: pointer;
		width: 100%;
		display: block;
	}

	.recommended-inner {
		h2 {
			font-weight: 400;
		}

		p {
			padding: 15px;
		}

		.btn {
			padding: 10px 25px;
			display: inline-block;
			border-radius: 2px;
			font-size: 0.85em;
			text-transform: uppercase;
			font-weight: 700;
		}

		.btn-blue {
			background: #1E88E5;
			color: $white;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background: darken(#1E88E5, 5%);
			}
		}

		.btn-red {
			background: #F44336;
			color: $white;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background: darken(#F44336, 5%);
			}
		}

		.btn-teal {
			background: $teal;
			color: $white;
			@include transition(all 0.3s ease-in-out);

			&:hover {
				background: darken($teal, 5%);
			}
		}
	}
}

input[type=submit] {
	outline: none;
	border: none;
	width: 100%;
	background: $teal;
	color: #fff;
	font-size: 1em;
	text-transform: uppercase;
	font-weight: 700;
	@include transition(all 0.3s ease-in-out);
	position: relative;
	cursor: pointer;

	&:hover {
		background: darken($teal, 5%);
	}
}

input[type=submit]:after {
	font-family: FontAwesome;
	content: '\f105';
}

.available,
.unavailable {
	padding: 45px;
}

.hire {
	text-align: center;
}

a.email {
	display: inline-block;
	padding: 10px;
	background: $teal;
	color: $white;
	position: relative;
	@include transition(all 0.3s ease);

	&:hover {
		box-shadow: 0 5px 15px fade-out($black, .5);
		padding-right: 40px;
	}

	&:after {
		font-family: FontAwesome;
		content: '\f003';
		position: absolute;
		top: -15px;
		opacity: 0;
		@include transition(all 0.4s ease);
		padding-left: 10px;
		color: $white;
		font-size: 1.3em;
	}

	&:hover:after {
		opacity: 1;
		top: 50%;
		transform: translateY(-50%);
	}
}

section.footer {
	text-align: center;
	padding: 20px 0;
	margin: 0 85px 0 0;
	width: 100%;
	background: #222;
	color: #fff;

	.social-icons {
		text-align: center;
		margin-top: 15px;
	}
}

.hire h1.title {
	letter-spacing: 1px;
	font-weight: 300;
	margin-bottom: 5px;
	display: inline-block;
}

.icon {
	padding: 10px;
	width: 29.719px;
	height: 32px;
	border-radius: 100%;
	z-index: 999;
	margin-right: 5px;
	@include transition(all 0.4s ease-in-out);
}

.twitter-icon {
	color: $twitter_color;
	border: 2px solid$twitter_color;
	@include transition(all 0.4s ease-in-out);

	&:hover {
		background: $twitter_color;
		color: #fff;
	}
}

.facebook-icon {
	color: $facebook_color;
	border: 2px solid $facebook_color;

	&:hover {
		background: $facebook_color;
		color: #fff;
	}
}

.instagram-icon {
	color: $instagram_unhovered_color;
	border: 2px solid $instagram_unhovered_color;
	@include transition(all 0.4s ease-in-out);

	&:hover {
		background: $instagram_hovered_color;
		color: #eee;
		border: 2px solid $instagram_hovered_color;
	}
}

.github-icon {
	color: #999;
	border: 2px solid #999;
	@include transition(all 0.4s ease-in-out);

	&:hover {
		background: #333;
		border: 2px solid #333;
		color: #eee;
	}
}

.codepen-icon {
	color: #666;
	border: 2px solid #666;
	padding-right: 12px;
	@include transition(all 0.4s ease-in-out);

	&:hover {
		background: #000;
		border: 2px solid #000;
		color: #fff;
	}
}

.thumbnail-image {
	width: 200px;
	height: 200px;
	@include transition(0.3s all ease-in-out);

	&:hover {
		transform: scale(1.1,1.1);
		box-shadow: 0 0 15px rgba(#333,.8);
		border: 1px solid white;
	}
}

.instagram-check {
	margin-top: 40px;
}

.typed-cursor {
	display: none;
}

.help {
	font-size: 0.6em;
	position: absolute;
	border: 2px solid #000;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	padding: 5px;
	text-align: center;
	@include transition(0.3s all ease-in-out);
	cursor: pointer;
	margin-left: 5px;

	&:hover {
		color: #fff;
		background: #000;
	}

	&:after {
		@include transition(0.3s all ease-in-out);
		opacity: 0;
	}

	&:hover:after {
		content: 'Click to Enlarge';
		position: absolute;
		color: #eee;
		margin-left: 50px;
		bottom: 10px;
		left: 0;
		font-family: 'Tahoma';
		font-size: 0.7em;
		border-left: 4px solid #525262;
		background: #28283c;
		padding: 15px 25px;
		opacity: 1;
	}
}

.testimonials {
	background: #eee url("../images/testimonials/testimonials-bg-min.jpg") no-repeat fixed center center;
	background-size: cover;
	min-height: 400px;
	margin: 0;
	width: 100%;

	.testimonials-inner {
		background: rgba(#fff,0.9);
		min-height: 400px;
		padding: 30px;

		.section-title {
			margin-bottom: 30px;
		}

		.card {
			width: 70%;
			margin: 0 auto;
			padding: 10px;
			// margin-top: 150px;
			.avatar {
				width: 200px;
				height: 200px;
				float: left;
				margin-right: 30px;
				border-radius: 100%;
			}

			p.feedback {
				font-family: 'Open Sans', sans-serif;
				font-size: 1.2em;
				font-style: italic;
				font-weight: 100;
				color: #787D85;
				// text-align: left;
				margin-top: 50px;
				min-height: 100px;
			}

			p.author {
				color: #222;
				font-style: italic;
				margin-right: 50px;
				border: 2px solid #222;
				display: inline-block;
				padding: 5px 15px;
				margin-top: 10px;
				float: right;

				a {
					padding-bottom: 0;
					border-bottom: 2px solid #222;
					transition: all 0.3s ease-in-out;

					&:hover {
						color: #444;
						border-bottom: 2px solid #444;
						padding-bottom: 0.5px;
					}
				}
			}
		}
	}
}


.discord {
	.discord-inner {
		.left {
			float: left;
			width: 60%;
			text-align: justify;
			font-family: 'Roboto', sans-serif;

			li {
				list-style: circle;
				margin-left: 35px;
				margin-top: 2px;
				font-size: 0.95em;
			}
		}
	}
}

.hide-on-mobile {
	display: block !important;
}

.hide-on-mobile-inline {
	display: inline-block !important;
}

.show-on-mobile {
	display: none !important;
}
@media all and (max-width: 980px) {
	.hide-on-mobile {
		display: none !important;
	}

	.hide-on-mobile-inline {
		display: none !important;
	}

	.show-on-mobile {
		display: block !important;
	}

	.menu {
		float: right;
		font-size: 2em;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		border: 2px dashed transparent;

		&:hover {
			border: 2px dashed #222;
		}
	}

	.skills {
		margin: 50px 0;
		width: 100%;

		.skills-inner {
			h2 {
				font-size: 1.3em;
			}

			svg {
				width: 70px;
			}
		}
	}

	.projects-list {
		margin: 0;
		width: 100%;

		a {
			font-size: 1em;
			padding: 10px;
		}
	}

	nav a {
		display: block;
	}

	.navbar-visible {
		position: absolute;
		padding: 0;
		margin: 0;
		width: 70%;
		left: 0;
		top: 0;
		min-height: 80%;
		z-index: 1000;
		box-shadow: 10px 0 15px rgba($black, .5);
		background: #fff;
		@include transition(all 0.3s ease-in-out);
	}

	ul.navbar > li {
		padding: 0;
		width: 100%;
		text-align: left;
		@include transition(all 0.3s ease-in-out);
		// background: $darker_white;
		a {
			padding: 0;
			margin: 0;
		}
	}

	nav.nav ul.navbar > li a {
		margin: 0;
		@include transition(all 0.3s ease-in-out);
		color: #222;
	}

	section {
		width: 99%;
		margin: 0 auto;

		.hire h1.title,
		.section-title {
			margin: 0;
			width: 100%;
		}
	}

	.thumbnail-image {
		width: 100%;
		height: 300px;
		margin: 5px 0;
	}

	.testimonials {
		.testimonials-inner {
			.card {
				width: 100%;

				p.feedback {
					font-family: 'Roboto', sans-serif;
					font-size: 1.1em;
					min-height: 250px;
					margin-top: 0;
					text-align: center;
				}

				p.author {
					margin-top: 10px;
					text-align: center;
					display: block;
					float: none;
					margin-right: 0;
				}
			}
		}
	}

	.about {
		width: 95%;
		line-height: 26px;
		margin-bottom: -95px;

		.section-title {
			margin-top: -45px;
			margin-bottom: 25px;
		}
	}

	.small-header {
		height: 30vh;

		.small-header-inner {
			h3 {
				margin-top: 35px;
			}
		}
	}

	.recommended {
		width: 100%;
		padding: 10px;
		overflow: auto;

		h1 {
			padding: 0;
			text-align: center;
			font-size: 1.2em;
		}

		h2 {
			text-align: center;
			font-size: 1.2em;
			margin-top: 5px;
		}


		.recommended-inner {
			.btn {
				display: block;
				overflow: auto;
				border-radius: 0;
				text-align: center;
			}
		}
	}

	input,
	textarea {
		width: 90%;
	}

	input[type=submit] {
		width: 90%;
	}

	.project .project-img {
		width: 370px;
		height: auto!important;
	}

	.project .buttons {
		top: 65%;
	}

	.recommended {
		border: none;
		margin: 0 auto 25px;
		padding: 0;
	}

	.available, .unavailable {
		padding: 25px;
	}

}

.terms {
	text-align: left;
	hr {
		margin: 15px 0;
	}
	.tos_title {
	 text-align: left;
	 margin: 15px 0 5px;
	 text-transform: uppercase;
	 font-weight: 500;
 }
 	p {
 		padding: 2px 0;
 	}
}
.tos_list {
	text-align: left!important;
	padding: 5px 15px;
	li {
		list-style: circle;
		padding: 4px;
		font-size: .9em;
			.sub-list {
				padding: 5px 0px;
				li {
				list-style: circle;
				margin-left: 5%;
			}
		}
	}
	.tos_category {
		list-style: none;
		margin-left: -20px;
	}

}


@media all and (max-width: 1380px) {
	.discord {
		.discord-inner {
			.left {
				float: none;
				width: 100%;
				margin-top: 25px;
				padding-bottom: 15px;
				margin-bottom: 15px;

				li {
					margin-left: 0;
					list-style: none;
					padding: 7px 0;
					font-size: 0.9em;
					border-bottom: 1px solid #ccc;
				}

				li:last-child {
					border-bottom: none;
				}
			}
		}
	}
}
