<!DOCTYPE html>
<html lang="en">

<head>
    <title>Page Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="This is the page description">
    <meta name="keywords" content="This, Is, Page, Keywords">
    <link rel="stylesheet" href="css/animate.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="js/status.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/wow.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse text-center">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand wow animted tada" href="#">Page Name</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav wow animated fadeInRight">
                    <li class="active">
                        <a href="#">
                            <i class="fa fa-home fa-fw"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-info fa-fw"></i> About
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-envelope fa-fw"></i> Contact
                        </a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Social 
                     <span class="caret"></span>
                     </a>
                        <ul class="dropdown-menu text-center">
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter fa-fw"></i> Twitter
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-youtube fa-fw"></i> YouTube
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-google-plus fa-fw"></i> Google+
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right wow animated fadeInRight">
                    <li class="navbar-text server-ip">play.serverIP.com:25565</li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="jumbotron">
        <h1 class="page-title wow animated fadeInDown">Page Title</h1>
        <p id="page-description" class="wow animated fadeInUp">Page Description</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="vote">
                <div class="col-md-3">
                    <h1 id="part-header">Vote Links</h1>
                    <ul>
                        <li class="wow animated bounceInLeft"><a href="#"><i class="fa fa-link"></i> Vote 1</a></li>
                        <li class="wow animated bounceInRight"><a href="#"><i class="fa fa-link"></i> Vote 2</a></li>
                        <li class="wow animated bounceInLeft"><a href="#"><i class="fa fa-link"></i> Vote 3</a></li>
                        <li class="wow animated bounceInRight"><a href="#"><i class="fa fa-link"></i> Vote 4</a></li>
                    </ul>
                    <h1 id="part-header">Ease Of Access</h1>
                    <ul>
                        <li class="wow animated bounceInLeft"><a href="#"><i class="fa fa-link"></i> Forum</a></li>
                        <li class="wow animated bounceInRight"><a href="#"><i class="fa fa-link"></i> Link 2</a></li>
                        <li class="wow animated bounceInLeft"><a href="#"><i class="fa fa-link"></i> Link 3</a></li>
                        <li class="wow animated bounceInRight"><a href="#"><i class="fa fa-link"></i> Link 4</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-9">
                <div class="blog">
                    <h1 id="part-header">Blog</h1>
                    <!-- BLOGGING STARTS HERE -->
                    <div class="blog-inner wow animated bounceInLeft">

                        <h3 id="article-header">Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis tristique orci quis porttitor. Cras dignissim tellus nec urna scelerisque lobortis. Proin tempor egestas tellus, ac aliquam velit sodales in. Mauris commodo dui eu mauris viverra iaculis laoreet eu risus. Quisque feugiat ac nisi nec vehicula. Nullam condimentum purus nulla.</p>
                        <div class="article-footer">
                            <small>Posted by <a href="#">User</a> on 03/08/2001</small>
                        </div>
                    </div>
                    <div class="blog-inner wow animated bounceInRight">
                        <h3 id="article-header">Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis tristique orci quis porttitor. Cras dignissim tellus nec urna scelerisque lobortis. Proin tempor egestas tellus, ac aliquam velit sodales in. Mauris commodo dui eu mauris viverra iaculis laoreet eu risus. Quisque feugiat ac nisi nec vehicula. Nullam condimentum purus nulla.</p>
                        <div class="article-footer">
                            <small>Posted by <a href="#">User</a> on 03/08/2001</small>
                        </div>
                    </div>
                    <div class="blog-inner wow animated bounceInLeft">
                        <h3 id="article-header">Lorem Ipsum</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mattis tristique orci quis porttitor. Cras dignissim tellus nec urna scelerisque lobortis. Proin tempor egestas tellus, ac aliquam velit sodales in. Mauris commodo dui eu mauris viverra iaculis laoreet eu risus. Quisque feugiat ac nisi nec vehicula. Nullam condimentum purus nulla.</p>
                        <div class="article-footer">
                            <small>Posted by <a href="#">User</a> on 03/08/2001</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr/>
    </div>

    <div class="container">
        <div class="features">
            <h1 class="text-center" id="part-header">Features</h1>
            <div class="row">
                <div class="col-md-3 feature wow animated wow animated bounceInUp">
                    <span class="fa fa-rocket fa-2x icon"></span>
                    <p>Excessively fast servers with no lag at all!
                        <br/><span class="label label-success">100% Uptime</span></p>
                </div>
                <div class="col-md-3 feature wow animated bounceInDown">
                    <span class="fa fa-ambulance fa-2x icon"></span>
                    <p>You will always find an administrator who will help you with anything you want and ready to answer every question!</p>
                </div>
                <div class="col-md-3 feature wow animated bounceInUp">
                    <span class="fa fa-calendar-o fa-2x icon"></span>
                    <p>Events are happening all the time to make sure you are never bored of the same old!</p>
                </div>
                <div class="col-md-3 feature wow animated bounceInDown">
                    <span class="fa fa-question fa-2x icon"></span>
                    <p>Another feature is to be placed here.</p>
                </div>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6 status-part wow animated bounceInRight">
                <h1 id="part-header">Status</h1>
                <span id="server_status" class="text-center"></span>
            </div>
            <div class="col-md-6 status-part wow animated bounceInLeft">
                <h1 id="part-header">Players Online</h1>
                <span id="server_players"></span>
            </div>
        </div>
        <hr/>
    </div>

    <div class="staff text-center container">
        <div class="row">
            <h1 id="part-header">Staff Members</h1>
            <div class="col-md-6 wow animated bounceInLeft">
                <img src="http://placehold.it/250x212" class="img-responsive img-rounded" alt="Server Staff Member" />
                <p>Head ^</p>
                <p class="text-muted">Player's Name
                    <br/> Player Rank
                    <br/> Player Sub Rank (If any)
                </p>
            </div>
            <div class="col-md-6 wow animated bounceInRight">
                <img src="http://placehold.it/250x212" class="img-responsive img-rounded" alt="Server Staff Member" />
                <p>Head ^</p>
                <p class="text-muted">Player's Name
                    <br/> Player Rank
                    <br/> Player Sub Rank (If any)
                </p>
            </div>
        </div>
    </div>
    <!-- Please do not remove! -->
    <p class="text-muted text-center template-author">Template made by <a href="http://immafreedom.boards.net/user/1">aggelosQQ</a></p>
    <!-- Please do not remove! -->

    <div class="footer">
        <div class="navbar navbar-inverse navbar-fixed-bottom">
            <div class="container">
                <!-- Left nav -->
                <ul class="nav navbar-nav">
                    <li>
                        <p class="navbar-text text-center"><span id="server_name"></span> &copy; <span id="year">2016</span>. All Rights Reserved</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

     <script>
        new WOW().init();
     </script>
</body>

</html>