<!DOCTYPE html>
<html lang="en">
   <head>
      <title>Band</title>
     <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
      <link rel="stylesheet" href="css/main.css">
      <script src="https://use.fontawesome.com/cb2592f0cc.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
      <script src="js/main.js"></script>
   </head>
   <body>
      <div class="navigation">
         <div class="left">
         <a href="#"><i class="fa fa-home"></i> Home</a>
         <a href="#"><i class="fa fa-info"></i> About</a>
         <a href="#"><i class="fa fa-music"></i> Tracks</a>
         </div>
         </div>
         <div class="wrapper">
         <div class="content">
            <h1>Superior (Hero) Band.</h1>
            <p>You love music. We love music.</p>
            <br>
            <p id="description">We are a brand new band dedicated to sending you our positiveness<br> to encourage you continue loving music! Because music is everything.

            <h1 style="margin-bottom:-90px">Tracks</h1>
            <div class="tracks">
               <div id="track-one">
                <p> <i class="fa fa-music icon"></i> <i class="fa fa-chevron-right icon"></i></p> 
                  <p id="name">Name: Lovingly Hug</p>
                  <p id="duration">Duration: 3.58</p>
                  <p id="start"><i class="fa fa-play icon right play"></i></p>
               </div>
               <div id="track-two">
                <p> <i class="fa fa-music icon"></i> <i class="fa fa-chevron-right icon"></i></p> 
                  <p id="name">Name: Huggity Huggy Hug</p>
                  <p id="duration">Duration: 4.52</p>
                  <p id="start"><i class="fa fa-play icon right play"></i></p>
               </div>
               <div id="track-three">
                <p> <i class="fa fa-music icon"></i> <i class="fa fa-chevron-right icon"></i></p> 
                  <p id="name">Name: Happy Birthday ft. Tale</p>
                  <p id="duration">Duration: 2.28</p>
                  <p id="start"><i class="fa fa-play icon right play"></i></p>
               </div>
               <div id="track-four">
                <p> <i class="fa fa-music icon"></i> <i class="fa fa-chevron-right icon"></i></p> 
                  <p id="name">Name: Copyrighted Song</p>
                  <p id="duration">Duration: 3.29</p>
                  <p id="start"><i class="fa fa-play icon right play"></i></p>
               </div>
               </div>

               <div class="starring">
                  <h1>Starring</h1>
                  <div class="pictures">
                     <div class="hero">
               <img src="images/wolverine.png" class="first">
               <p id="band-member-name">Wolverine</p>
               <p id="band-member-what">Main Singer</p>
               <p id="band-member-info">Wolverine is a fictional character appearing in American comic books published by Marvel Comics, commonly associated with the X-Men.Born James Howlett and commonly known as Logan, Wolverine is a mutant who possesses animal-keen senses, enhanced physical capabilities, and powerful regenerative ability known as a healing factor. He has been depicted variously as a member of the X-Men, Alpha Flight, and the Avengers.
The character first appeared in the last panel of The Incredible Hulk #180, with his first full appearance in #181 (cover-dated Nov. 1974). He was created by writer Len Wein and Marvel art director John Romita, Sr., who designed the character, and was first drawn for publication by Herb Trimpe. Wolverine then joined a revamped version of the superhero team the X-Men, where eventually writer Chris Claremont and artist-writer John Byrne would play significant roles in the character's development. Artist Frank Miller collaborated with Claremont and helped to revise the character with a four-part eponymous limited series from September to December 1982 in which Wolverine's catchphrase, "I'm the best there is at what I do, but what I do best isn't very nice", debuted.</p>
               </div>

               <div class="hero">
               <img src="images/batman.png" class="second">
               <p id="band-member-name">Batman</p>
               <p id="band-member-what">Drummer</p>
               <p id="band-member-info">Batman is a fictional superhero appearing in American comic books published by DC Comics. The character was created by artist Bob Kane and writer Bill Finger, and first appeared in Detective Comics #27 (May 1939). Originally named the "Bat-Man", the character is also referred to by such epithets as the Caped Crusader, the Dark Knight, and the World's Greatest Detective
Batman's secret identity is Bruce Wayne, an American billionaire, playboy, philanthropist, and owner of Wayne Enterprises. After witnessing the murder of his parents Thomas Wayne and Martha Wayne as a child, he swore revenge on criminals, an oath tempered by a sense of justice. Wayne trains himself physically and intellectually and crafts a bat-inspired persona to fight crime. Batman operates in the fictional Gotham City, with assistance from various supporting characters, including his butler Alfred, police commissioner Jim Gordon, and vigilante allies such as Robin..</p>
               </div>
             <div class="hero">
               <img src="images/spiderman.png" class="third">
               <p id="band-member-name">Spiderman</p>
               <p id="band-member-what">Guitarist</p>
               <p id="band-member-info">Spider-Man is a fictional superhero appearing in American comic books published by Marvel Comics existing in its shared universe. The character was created by writer-editor Stan Lee and writer-artist Steve Ditko, and first appeared in the anthology comic book Amazing Fantasy #15 (Aug. 1962) in the Silver Age of Comic Books. Lee and Ditko conceived the character as an orphan being raised by his Aunt May and Uncle Ben, and as a teenager, having to deal with the normal struggles of adolescence in addition to those of a costumed crime-fighter. Spider-Man's creators gave him super strength and agility, the ability to cling to most surfaces, shoot spider-webs using wrist-mounted devices of his own invention, which he calls "web-shooters", and react to danger quickly with his "spider-sense", enabling him to combat his foes. And later in his life founded his own company call Parker Industries.</p></div>
               </div>
               </div>
</div>
      </body>
      </html>