body {
  overflow-x: hidden;
}
.header {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  position: fixed;
  padding: 5px;
  padding-left: 10px;
  background: #fff;

  img {
    width: 40px!important;
  }

}

.header .navigation .links .right {
  margin-right: 30px!important;
}

.content {
  width: 100%;
}

.legal {
  .sidebar {

    .sidebar-inner {
      background: linear-gradient(to bottom, lighten(#8E833F,15%), darken(#8F843F,10%));
      height: 100vh;
      position: fixed;
      top: 61px;
      // padding: 20px 0 20px;
      width: 16.66666667%;
      overflow: auto;
      padding-top: 10px;

      .category {
        h3 {
          font-size: 1em;
          cursor: pointer;
          padding: 15px 25px;
          transition: all .3s ease-in-out;
          color: #efefef;
          font-weight: 400;
          &:hover {
            color: #fff;
            background: lighten(#8F843F, 22%);
          }
        }
        .category-links {
          display: none;
        }
      }

      i {
        vertical-align: middle;
        font-size: .8em;
      }
      h3,h2 {
        text-transform: uppercase;
        color: #fff;
        font-weight: 400;
      }

      h2 {
        margin-bottom: 30px;
        font-size: 1em;
        padding-left: 10px;
      }
      h3 {
        font-size: 1em;
        padding-left: 20px;
      }

      ul {
        list-style: none;

        li {
        padding: 20px 0;
          a {
            color: #eee;
            transition: all .3s ease-in-out;
            font-size: 1em;

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }



  .legal-side {
    margin: 4.2% auto;
    .heading {
      padding: 100px 50px;
      background: #ddd url("../img/header-bg.jpg") fixed center center;
      background-size: cover;
      h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 3em;
        text-align: center;
      }
    }

    .document {
      padding: 25px;
      p {
        text-align: justify;
        font-size: 1.1em;
      }
    }
  }
}


@media only screen and (max-width: 1080px) {
  .fixed {
    position: static;
  }

  .header {
    padding: 0;
  }

  .legal {

    .sidebar {
      width: 100vw;
      .sidebar-inner {
        height: auto;
        text-align: center;

        .category {
          display: inline-block;
          h3 {
            display: none;
          }
          ul {
            padding: 0;
            text-align: center;
            li {
              padding: 0;
              display: inline-block;

              a {
                padding: 0;
                border-right: 1px solid lighten(#8F843F, 20%);
                padding-right: 10px;
                padding-left: 10px;
              }

              .last-link {
                border-right: none;
              }
            }
          }
        }
      }
    }

    .legal-side {
      margin: 0!important;

      .heading {
        padding: 50px 0;
        text-align: center;
      }
    }

    .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9 {
      padding-left: 0!important;
      padding-right: 0!important;
    }
  }



}
