<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">{{ playerName }} <small>(wins: {{ playerWins }})</small></h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="margin: 0; color: white;" :style="{width: playerHealth + '%'}" :class="{ dying: playerHealth<=20, almost: playerHealth<=50&&playerHealth>=21, full: playerHealth>50 }">
                  <p>{{ playerHealth }}</p>
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER <small>(wins: {{ monsterWins }})</small></h1>
            <div class="healthbar">
                <div class="healthbar text-center" style="margin: 0; color: white;" :style="{width: monsterHealth + '%'}" :class="{ dying: playerHealth<=20, almost: playerHealth<=50&&playerHealth>=21, full: playerHealth>50 }">
                  <p>{{ monsterHealth }}</p>
                </div>

            </div>
        </div>
    </section>
    <section class="coins-sec text-center">
        <p class="coins">You have {{ coins }} coins</p>
    </section>
    <section class="row controls" v-if="!running">
        <div class="small-12 columns">
            <b>Enter your Name</b> <br/><input type="text" placeholder="Enter your name.." v-model="playerName" value="You"><br/>
            <button id="start-game" @click="startGame()">START NEW GAME</button>
        </div>
    </section>
    <section class="row controls" v-else>
        <div class="small-12 columns">
            <button id="attack" @click="attack()">ATTACK</button>
            <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK [5C]</button>
            <button id="heal" @click="heal()">HEAL [3C]</button>
            <button id="give-up" @click="giveUp()">GIVE UP</button>
        </div>
    </section>
    <section class="row log" v-if="turns.length > 0">
        <div class="small-12 columns">
            <ul>
                <li v-for="turn in turns" :class="{ 'player-turn': turn.isPlayer, 'monster-turn': !turn.isPlayer }">
                  {{ turn.text }}

                </li>
            </ul>
        </div>
    </section>
</div>
<script src="app.js"></script>
</body>
</html>
