@import '../../assets/scss/includes/variables';

body {
  background: $login_bg;
  color: #eee;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

.header {
  width: 100%;
  padding: 25px 0 0;
}

.content {
  width: 100%;
  margin-top: 10%;

  h1 {
    font-weight: 300;
    font-size: 3.5em;
  }

  p {
    color: #ccc;
    width: 50%;
    padding-top: 25px;
    font-size: 1.4em;
    font-weight: 300;
    letter-spacing: .5px;
  }
}


.3-lines {
  margin-top: -370px;
}

.doc {

  margin-top: 5%;
  margin-left: 20%;


  .document {
    background: #fff;
    border-radius: 40px;
    display: inline-block;
    padding: 25px 10px;
    width: 20%;
    margin-left: 20px;
    color: #111;
    max-height: 315px;
    height: 300px;
    text-align: center;



    img {
      width: 80px;
      height: 60px;
      max-height: 80px;
      max-height: 60px;
    }


    h3.doc-title {
      margin-bottom: -20px;
      font-size: 2em;
      padding: 5px;
      font-weight: 400;
    }

    p {
      width: 100%;
      color: #333;
      font-weight: 400;
      font-size: 1em;
    }


    .action-btn {
      padding: 15px 50px;
      border-radius: 50px;
      font-size: 1.1em;
      background: #C8BA59;
      border-bottom: 3px solid #7E7443;
      color: #fff;
      margin-top: 20px;
      display: inline-block;
    }
  }

}

.header .navigation .links a {
  color: #fff;
}

.footer {
  background: $login_bg;
  padding: 5px 0;
  overflow: auto;
  width: 80%;
  margin: 100px auto 0;
  overflow: auto;

  a {
    font-size: .9em;
  }

  .left {
    a {
      color: #eee;
      clear: both;
      padding: 0px 10px;
      font-size: .9em;
    }
  }

  .right {
    color: #eee;
    float: right;
    clear: both;
    margin-top: -15px;
    p {
      display: inline;
      font-size: .9em;
      margin-right: 15px;
    }
    a {
      color: #eee;
      font-size: .9em;
      padding-right: 5px;
    }
  }
}

@media only screen and (max-width: 1540px) {

  .doc {
    margin-left: 0;
  }

}
@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 100%;
  }
  .header {
    margin: 0;
  }
  .content {
    text-align: center;
    margin-top: 0;
    transform: none;
  }
  .footer {
    position: static;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #ccc;

    .left {
      display: block;
      padding: 15px;
    }

    .right {
      margin: 0;
      float: none;
      display: inline-block;
      padding-bottom: 25px;

      p {
        display: block;
        padding: 15px;
      }
    }
  }

  .content {
    p {
      width: 100%;
    }
  }

  .doc {
    margin: 0 auto;
    text-align: center;
    width: 100%;
   .document {
      display: block;
      width: 60%;
      margin: 15px auto;
      padding: 25px;
    }
  }
}
