* {
  margin: 0;
  padding: 0
}

body {
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif
}

.head-alert {
  background: #333;
  color: #fff;
  margin-bottom: -16px;
  padding: 5px;
  text-align: center
}

.head-alert a {
  padding: 0 10px;
  color: #FF9800;
  -webkit-tranisition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.header {
  background: url("../img/bg.png") no-repeat fixed bottom center;
  background-size: cover;
  height: auto;
  -webkit-box-shadow: 0 0 10px #222222;
  box-shadow: 0 0 10px #222222
}

.header .header-inner {
  height: 100%;
  padding: 20px 0 0
}

.header .header-inner .players {
  text-align: center;
  margin: 30px auto -25px
}

.header .header-inner .players p {
  display: inline-block;
  text-align: center;
  color: #fff;
  font-weight: 300;
  text-transform: uppercase;
  background: rgba(244, 67, 54, 0.8);
  padding: 5px 0 5px 15px;
  font-size: 1.2em
}

.header .header-inner .players p span {
  background: #0E2F44;
  padding: 8px 10px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: inline
}

.header .header-inner .players p span:hover {
  background: #0b2536
}

.header .header-inner .logo {
  text-align: center;
  width: 30%;
  margin: 0 auto
}

.header .header-inner .navbar {
  width: 100%;
  margin-top: 20px;
  text-align: center;
  display: block;
  padding: 10px;
  height: 105px;
  background: url("../img/branch.png") center repeat-x
}

.header .header-inner .navbar ul {
  list-style: none;
  text-align: center;
  display: inline-block;
  margin-top: 32px
}

.header .header-inner .navbar li {
  float: left;
  margin-bottom: -20px
}

.header .header-inner .navbar li a {
  color: #ddd;
  text-align: center;
  padding: 15px;
  font-family: 'Love Ya Like A Sister', cursive;
  font-size: 1.2em;
  font-weight: inherit;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  -webkit-tranisition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.header .header-inner .navbar li a:hover {
  text-decoration: none;
  color: #fff
}

.content {
  margin-top: 35px
}

.content .section-header .section-title {
  margin-bottom: 0;
  display: block;
  border: none;
  font-weight: 300;
  color: #fff;
  -webkit-box-shadow: 0 -2px 10px rgba(34, 34, 34, 0.7);
  box-shadow: 0 -2px 10px rgba(34, 34, 34, 0.7);
  padding: 5px 15px;
  text-align: center;
  background-color: #6ba65e;
  border-radius: 1px;
  border-top-right-radius: 12px;
  border-top-left-radius: 12px
}

.content ul.gamemode-list {
  list-style: none;
  background: #55844b;
  height: 100%;
  width: 100%;
  display: table;
  border-bottom-left-radius: 12px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-bottom-right-radius: 12px
}

.content ul.gamemode-list li {
  display: table-cell;
  text-align: center;
  position: relative;
  z-index: 2;
  -webkit-tranisition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.content ul.gamemode-list li:first-child:before {
  border-bottom-left-radius: 12px;
  -webkit-tranisition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}

.content ul.gamemode-list li:last-child {
  border-bottom-right-radius: 12px
}

.content ul.gamemode-list li:last-child:before {
  content: '';
  border-bottom-right-radius: 12px;
  -webkit-tranisition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}

.content ul.gamemode-list li:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background: #406338;
  width: 100%;
  z-index: -1;
  height: 0px;
  -webkit-tranisition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out
}

.content ul.gamemode-list li:hover:before {
  height: 100%
}

.content ul.gamemode-list li a {
  display: block;
  padding: 7px 25px;
  color: #fff;
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase
}

.content ul.gamemode-list li a:hover {
  text-decoration: none
}

.content .gamemode-description {
  z-index: 1;
  position: relative
}

.content .gamemode-description .gamemode-image-inner {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6)
}

.content .gamemode-description .gamemode-image-inner .gamemode-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin-top: 60px;
  padding-bottom: 35px
}

.content .gamemode-description .gamemode-image-inner .gamemode-background {
  z-index: -1;
  position: relative
}

.content .gamemode-description .description-text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  padding: 0;
  margin-bottom: 0
}

.content .gamemode-description .description-text h2, .content .gamemode-description .description-text p {
  padding: 5px 15px
}

.content .gamemode-description .description-text p {
  margin-bottom: 0;
  text-align: center
}

.content .gamemode-description .description-text h2 {
  display: block;
  text-align: center;
  margin-bottom: 0
}

.content .gamemode-description .read_more_link {
  color: #fff;
  font-weight: 400;
  text-transform: uppercase
}

.content .gamemode-description .read_more_link .actions {
  position: absolute;
  bottom: 20%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  padding: 10px 35px;
  border-radius: 4px;
  -webkit-tranisition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.content .gamemode-description .read_more_link .actions:hover {
  text-decoration: none;
  background: rgba(255, 255, 255, 0.15)
}

.content .gamemode-description .read_more_link .actions i {
  font-size: 1.7em;
  padding-bottom: 10px
}

.announcement .announcement-header {
  border-bottom: 1px solid #222;
  padding: 5px;
  color: #222;
  text-align: left
}

.announcement .announcement-header h2 {
  font-size: 1.3em;
  font-weight: 300;
  margin-top: 5px
}

.announcement .announcement-content p {
  text-align: justify
}

.announcement .announcement-content ul {
  margin-left: 50px
}

.space {
  margin: 2.5%
}

.footer {
  background: #222;
  margin-top: 113px;
  color: #fff;
  position: relative;
  overflow: auto
}

.footer img {
  width: 15%;
  padding-top: 15px;
  padding-bottom: 14px
}

.footer p {
  margin-top: -20px;
  display: inline-block;
  margin-bottom: -15px;
  margin-left: 15px;
  padding-top: 20px;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 300
}

.footer p small {
  display: block
}

.footer .darker-footer {
  color: #ccc;
  display: block;
  background: #111;
  text-align: center;
  overflow: hidden
}

.footer .darker-footer .footer-nav {
  list-style: none
}

.footer .darker-footer .footer-nav li {
  display: inline;
  border-right: 1px solid #bbb;
  padding-right: 5px;
  padding-left: 10px
}

.footer .darker-footer .footer-nav li:last-child {
  border-right: none
}

.footer .darker-footer .footer-nav li a {
  color: #fff;
  font-size: 0.85em;
  color: #999;
  font-weight: 300;
  text-transform: uppercase;
  -webkit-tranisition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.footer .darker-footer .footer-nav li a:hover {
  color: #ddd;
  text-decoration: none
}

.footer .darker-footer .designed-by {
  color: #999;
  font-size: 90%;
  -webkit-tranisition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out
}

.footer .darker-footer .designed-by:hover {
  text-decoration: none;
  color: #ddd
}

.footer .darker-footer .designed-by img {
  margin-top: -60px;
  width: 110px
}

.footer .darker-footer .maintained {
  margin-top: -10px
}

.discord-widget {
  -webkit-box-shadow: 0 0 15px #555;
  box-shadow: 0 0 15px #555;
  border-radius: 6px
}

#img-animation {
  -webkit-animation-name: floating;
  animation-name: floating;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px)
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px)
  }
  to {
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px)
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px)
  }
  65% {
    -webkit-transform: translate(0, 15px);
    -ms-transform: translate(0, 15px);
    transform: translate(0, 15px)
  }
  to {
    -webkit-transform: translate(0, 0px);
    -ms-transform: translate(0, 0px);
    transform: translate(0, 0px)
  }
}

.show-on-mobile {
  display: none !important
}

.hide-on-mobile {
  display: default !important
}

@media only screen and (max-width:1150px) {
  .hide-on-mobile {
    display: none !important
  }
  .show-on-mobile {
    display: block !important
  }
  .menu {
    display: block;
    margin: 25px auto;
    font-size: 2em;
    color: #ccc;
    cursor: pointer;
    -webkit-tranisition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out
  }
  .menu:hover {
    -webkit-transform: translateY(-3px);
    -ms-transform: translateY(-3px);
    transform: translateY(-3px)
  }
  .header .header-inner .navbar ul {
    position: fixed;
    z-index: 1000;
    background: #fff;
    top: 0;
    display: none;
    left: 0;
    margin-top: 0;
    width: 50%;
    height: 100%;
    -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8)
  }
  .header .header-inner .navbar ul li {
    float: none !important;
    padding: 10px 0
  }
  .header .header-inner .navbar ul li a {
    display: block !important;
    width: 100%;
    text-align: left !important;
    color: #333 !important;
    font-size: 1em !important;
    font-family: 'Roboto', sans-serif
  }
  .header .header-inner .navbar ul li a:hover {
    background: #eee
  }
  .head-alert {
    font-size: 0.7em
  }
  .head-alert p a {
    display: block;
    font-size: 1.2em
  }
  .header .header-inner .players p {
    display: block;
    margin-left: 0;
    font-weight: 300;
    font-size: 0.9em
  }
  .header .header-inner .players p span {
    display: none
  }
  .header .header-inner .store a p {
    display: block;
    margin-left: 0;
    text-align: center
  }
  .footer .darker-footer ul {
    display: block
  }
  .footer .darker-footer .designed-by {
    display: block;
    margin-top: -15px
  }
  .footer .darker-footer .first {
    margin-top: 0px
  }
  .gamemode-description .description-text {
    bottom: 33.6px !important
  }
  .gamemode-description .description-text h2 {
    font-size: 1.2em;
    margin-bottom: 15px
  }
  .gamemode-description .description-text p {
    font-size: 0.9em
  }
  .gamemode-description .read_more_link .actions {
    bottom: 0 !important;
    width: 100%;
    padding: 5px 0 0 0 !important;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
    z-index: 10000;
    text-align: center
  }
  .gamemode-description .read_more_link .actions a {
    padding: 5px 25px !important;
    display: inline !important
  }
  .gamemode-description .read_more_link .actions br {
    display: none
  }
  .gamemode-description .read_more_link .actions i {
    margin-right: 10px;
    font-size: 1em !important
  }
  .content .gamemode-description .gamemode-image-inner .gamemode-icon {
    width: 50%;
    margin-top: 10px;
    left: 20%
  }
  .content .gamemode-description .description-text {
    left: 70%;
    text-align: center;
    width: 100%;
    top: 40%;
    max-width: 200px
  }
  .content ul.gamemode-list {
    display: block
  }
  .content ul.gamemode-list li {
    display: block
  }
  .content ul.gamemode-list li:first-child:before {
    border-bottom-left-radius: 0
  }
}

@media only screen and (max-width:576px) {
  .header .header-inner .players p {
    margin-top: 0
  }
  .header .header-inner .store a p {
    margin-top: 30px
  }
  .gamemode-description .gamemode-image-inner .gamemode-icon {
    display: none
  }
  .gamemode-description .description-text {
    left: 50% !important;
    top: 27% !important;
    max-width: 300px !important;
    margin-top: 40px !important;
    height: 100%;
    font-size: 0.9em !important
  }
}
