<!DOCTYPE html>
<html lang="en">

<head>
    <title>Home | Full Page Site</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.3/jquery.fullPage.min.js"></script>
    <script src="js/main.js">
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.3/vendors/scrolloverflow.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.8.3/jquery.fullPage.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Paaji" rel="stylesheet">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
      <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper red darken-4">
        <a href="#!" class="brand-logo center">Minecraft Server</a>
        <a href="#" data-activates="mobile-navbar" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down" id="menu">
          <li><a href="#header"><i class="material-icons left">home</i> Home</a></li>
          <li><a href="#"><i class="material-icons left">forum</i> Forum</a></li>
          <li><a href="#about"><i class="material-icons left">info_outline</i> About</a></li>
          <li><a href="#vote"><i class="material-icons left">thumb_up</i> Vote</a></li>
        </ul>
        <ul class="side-nav" id="mobile-navbar" id="menu">
          <li><a href="#header"><i class="material-icons left">home</i> Home</a></li>
          <li><a href="#"><i class="material-icons left">forum</i> Forum</a></li>
          <li><a href="#about"><i class="material-icons left">info_outline</i> About</a></li>
          <li><a href="#vote"><i class="material-icons left">thumb_up</i> Vote</a></li>
      </ul>
      </div>
    </nav>
  </div>
<div id="fullpage">
    <div class="section cover-1">
        <h1>NameCraftMC...</h1>
        <p id="status"><!--You can remove this line if you download the template (online players will be displayed here)--><span id="online"></p> <!-- Edit on main.js -->
        </div>
    <div class="section cover-2">
        <h1>About NameCraftMC</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus facilisis massa ut est ornare posuere. Duis et est nec enim dictum ornare eu eu libero. Aliquam porttitor, lacus id malesuada consequat, mauris nisl fringilla risus, nec cursus nisi odio in erat. Vestibulum interdum vulputate arcu id lacinia. Maecenas iaculis mollis egestas. Mauris felis orci, eleifend eu fringilla nec, dignissim sed nulla. Duis pharetra blandit tortor at lobortis. Cras porttitor ultricies libero, vel pulvinar lorem fringilla quis. In hac habitasse platea dictumst. Integer consectetur in ligula eu hendrerit. Maecenas eu fermentum dolor, eget iaculis odio.</p><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ac tellus non sem congue egestas eu et lacus. Vivamus non tellus rutrum nisl consectetur gravida eu non libero. Donec vel tempus diam. Mauris convallis consectetur enim non malesuada. Mauris sollicitudin metus eget nisl auctor, non bibendum tellus suscipit. Sed sagittis lacinia cursus. Proin varius risus quis enim condimentum, eu cursus ligula porttitor. Morbi et purus nec mauris aliquam aliquet sed blandit lorem. Pellentesque semper porttitor tellus id egestas. In at tellus feugiat, blandit velit id, sollicitudin ligula. Fusce condimentum leo nec quam efficitur pretium. Cras semper elementum sem vitae sagittis. Pellentesque nec nulla eu erat congue luctus. Donec at lectus sit amet mi ullamcorper finibus porttitor sed lorem. Integer molestie neque et tellus tristique convallis. Donec non lacus sed nisi finibus elementum.</p>
        </div>
  <div class="section cover-3">
      <h1>Vote for NameCraftMC!</h1>
      <p>Vote for us to support our server and win amazing rewards!</p>
     <a href="#" class="btn red">Vote Link 1</button></a>
     <a href="#" class="btn green">Vote Link 2</button></a>
     <a href="#" class="btn blue">Vote Link 3</button></a>

          <div class="footer-copyright">
            <div class="center">
           NameCraftMC - Copyright &copy; 2016.
           <br>Template by <a href="https://unraveledmc.com/templates">aggelosQQ</a>
            </div>
          </div>
        </footer>
</body>


</html>