* {
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  height: 5000px; }

.nav {
  position: fixed;
  width: 100%;
  padding: 35px 0; }
  .nav .navbar-wrapper {
    width: 80%;
    margin: 0 auto; }
  .nav .navbar-right {
    float: right; }
  .nav .page-brand {
    font-size: 1.3em;
    margin-top: -15px; }
  .nav li {
    float: left;
    text-decoration: none;
    list-style: none;
    margin-top: -10px; }
    .nav li a {
      color: #eee;
      text-decoration: none;
      padding: 15px;
      font-size: 1.1em;
      transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -webkit-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out; }
      .nav li a:hover {
        color: #fff; }

.navbar-outside {
  background: #fff; }
  .navbar-outside li a {
    color: #888;
    padding: 35px; }
    .navbar-outside li a:hover {
      color: #222; }
  .navbar-outside #home-nav {
    border-bottom: 3px solid #F44336; }
  .navbar-outside #about-nav {
    border-bottom: 3px solid #E91E63; }
  .navbar-outside #portfolio-nav {
    border-bottom: 3px solid #9C27B0; }
  .navbar-outside #contact-nav {
    border-bottom: 3px solid #2196F3; }

.header .header-container {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0; }
  .header .header-container #video-bg {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%; }
  .header .header-container .header-content {
    position: absolute;
    width: 100%;
    min-height: 100%;
    z-index: 999;
    background: rgba(30, 30, 30, 0.5);
    color: #fff; }
    .header .header-container .header-content h1, .header .header-container .header-content p {
      text-align: center;
      z-index: 3000; }
    .header .header-container .header-content .logo {
      margin-top: 15%;
      text-align: center;
      font-size: 6em;
      display: block;
      margin-bottom: 3%; }
    .header .header-container .header-content h1 {
      font-size: 2.9em;
      font-weight: 300;
      text-transform: uppercase; }
    .header .header-container .header-content p {
      font-size: 1.3em;
      margin-top: 15px;
      font-weight: 300;
      color: #ccc; }

.content {
  width: 85%;
  margin: 0 auto;
  padding: 105vh 25px 20vh 25px;
  text-align: center; }
  .content #about {
    padding: 0 25px 55px; }
    .content #about h3 {
      color: #1ab394;
      font-size: 1.5em;
      text-align: left;
      text-transform: uppercase;
      font-weight: 400; }
    .content #about p {
      font-size: .89em;
      color: #888;
      font-weight: 300;
      text-align: left;
      line-height: 20px; }
    .content #about a {
      color: #1ab394;
      text-decoration: none; }

hr.navy-line {
  width: 5%;
  height: 2px;
  margin: -10px auto 20px;
  background: #1ab394; }

.section-title {
  color: #1ab394;
  font-size: 3em;
  font-weight: 300;
  padding: 25px;
  margin-top: -35px; }

/* RESPONSIVE */
.hide-on-mobile {
  display: block; }

.show-on-mobile {
  display: none; }

@media handheld, screen and (max-width: 760px) {
  .hide-on-mobile {
    display: none; }
  .show-on-mobile {
    display: block; }
  .header-content .logo {
    margin: 0 0 0 0;
    padding-top: 25%; }
  .nav .navbar-right {
    float: none; }
  .nav li {
    float: none;
    display: none; }
  .nav .navbar-toggle {
    position: absolute;
    float: right; }
  .nav .page-brand {
    display: block;
    text-align: center;
    font-size: 1.5em; }
  .navbar-outside {
    padding: 25px 0 15px; } }
