<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="utf-8">
   <title>Website Templates by AggelosQQ</title>
   <meta http-equiv="X-UA-Compatible" content="IE=edge" />
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <script src="https://use.fontawesome.com/cc71fd453a.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   <link href="css/style.css" rel="stylesheet">
   <link href="css/animate.min.css" rel="stylesheet">
   <script src="js/function.js"></script>
   <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
   <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

</head>

<body>
   <nav>
      <div class="nav-wrapper blue">
         <a href="#!" class="brand-logo center">Website Templates</a>
         <ul class="right hide-on-med-and-down">
            <li><a href="https://www.youtube.com/channel/UCGFvxXzRuoW2S_1xrH1V58g"><i class="fa fa-youtube fa-2x"></i></a></li>
            <li><a href="http://twitter.com/maloukos2"><i class="fa fa-twitter fa-2x"></i></a></li>
         </ul>
      </div>
   </nav>
   <div class="container">
      <div class="row">
         <div class="col s6">
            <div class="template">

               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                     <a href="demos/Orange%20Aurora/index.html" target="_blank">
                        <img src="images/img-preview-orange-aurora.png" alt="Orange Aurora" class="responsive-img">
                     </a>
                     <span class="card-title">Orange Aurora</span>
                  </div>
                  <div class="card-content">
                     <p>For Minecraft servers.</p>
                  </div>
               </div>
               <div class="card-action">
                  <a href="download/Orange%20Aurora.rar">
                     <button type="button" class="waves-effect waves-green btn btn-primary download">Download</button>
                  </a>
                  <a href="demos/Orange%20Aurora/index.html">
                     <button type="button" class="waves-effect waves-red btn btn-default">Preview</button>
                  </a>
                  <a href="https://www.virustotal.com/en/file/0c099ac50c093f0ff99219a0f2438b79e4e84486321bd097d9d2bc3392f27ce2/analysis/1462186777/" target="_blank">
                     <button type="button" class="waves-effect waves-yellow btn btn-default">Virus Total</button>
                  </a>
               </div>
            </div>
         </div>
         <div class="col s6">
            <div class="template">

               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                     <a href="demos/Company/index.html" target="_blank">
                        <img src="images/img-preview-company.png" alt="Company" class="responsive-img">
                     </a>
                     <span class="card-title">Company</span>
                  </div>
                  <div class="card-content">
                     <p>For your business.</p>
                  </div>
               </div>
               <div class="card-action">
                  <a href="download/Company.rar">
                     <button type="button" class="waves-effect waves-green btn btn-primary download">Download</button>
                  </a>
                  <a href="demos/Company/index.html">
                     <button type="button" class="waves-effect waves-red btn btn-default">Preview</button>
                  </a>
                  <a href="https://www.virustotal.com/en/file/f368f0211dd9ac7ddd5d6d2d0d3e86b5d91acec69a25081d215ba704debf22d0/analysis/1462880483/" target="_blank">
                     <button type="button" class="waves-effect waves-yellow btn btn-default">Virus Total</button>
                  </a>
               </div>
            </div>
         </div>
          <div class="col s6">
            <div class="template">

               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                     <a href="demos/Band/index.html" target="_blank">
                        <img src="images/img-preview-band.png" alt="Company" class="responsive-img">
                     </a>
                     <span class="card-title">Band</span>
                  </div>
                  <div class="card-content">
                     <p>For your Band.</p>
                  </div>
               </div>
               <div class="card-action">
                  <a href="download/Band.rar">
                     <button type="button" class="waves-effect waves-green btn btn-primary download">Download</button>
                  </a>
                  <a href="demos/Band/index.html">
                     <button type="button" class="waves-effect waves-red btn btn-default">Preview</button>
                  </a>
                  <a href="https://www.virustotal.com/el/file/d8362a5527afa3f94e385fa2623ef4011382d942583b1ad638d0e3594bed0512/analysis/1470412111/" target="_blank">
                     <button type="button" class="waves-effect waves-yellow btn btn-default">Virus Total</button>
                  </a>
               </div>
            </div>
         </div>
          <div class="col s6">
            <div class="template">
               <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                     <a href="demos/Minecraft/index.html" target="_blank">
                        <img src="images/img-preview-minecraft.png" alt="Minecraft" class="responsive-img">
                     </a>
                     <span class="card-title">Minecraft</span>
                  </div>
                  <div class="card-content">
                     <p>For your Minecraft Server.</p>
                  </div>
               </div>
               <div class="card-action">
                  <a href="download/Minecraft.rar">
                     <button type="button" class="waves-effect waves-green btn btn-primary download">Download</button>
                  </a>
                  <a href="demos/Minecraft/index.html">
                     <button type="button" class="waves-effect waves-red btn btn-default">Preview</button>
                  </a>
                  <a href="https://www.virustotal.com/el/file/28f32c11050ed17c4043aaa2f17e204cf27e043335b250967159ad821c396427/analysis/1471732166/" target="_blank">
                     <button type="button" class="waves-effect waves-yellow btn btn-default">Virus Total</button>
                  </a>
               </div>
            </div>
         </div>


      </div>
   </div>
   <div class="virus-total">
      <h6 class="text-center">All our downloads are hosted on our secure private server and contain no virus.</h6>
   </div>
   <div class="fixed-action-btn horizontal" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
         <i class="material-icons">menu</i>
      </a>
      <ul>
         <li><a class="btn-floating red modal-trigger" href="#contact"><i class="material-icons">message</i></a></li>
      </ul>
   </div>
   <div id="contact" class="modal modal-fixed-footer">
      <div class="modal-content">
         <h4>Contact</h4>
         <p>Want your website? Leave me a message.</p>
         <div class="row">
            <form class="col s12">
               <div class="row">
                  <div class="input-field col s12">
                     <i class="material-icons prefix">account_circle</i>
                     <input id="first_name" type="text" class="validate" length="16">
                     <label for="first_name icon_prefix">Your Name</label>
                  </div>
               </div>
               <div class="row">
                  <div class="input-field col s12">
                     <i class="material-icons prefix">email</i>
                     <input id="email" type="email" class="validate">
                     <label for="email icon_prefix">Email</label>
                  </div>
               </div>
               <div class="row">
                  <div class="input-field col s12">
                     <i class="material-icons prefix">message</i>
                     <textarea id="textarea1" class="materialize-textarea"></textarea>
                     <label for="textarea1">Message</label>
                  </div>
               </div>
            </form>
         </div>
      </div>
      <div class="modal-footer">
         <a href="#!" class="btn modal-action modal-close waves-effect waves-green">Send<i class="material-icons right">send</i></a>
      </div>


   </div>
   <footer class="page-footer blue">
      <div class="container">
         <div class="row">
            <div class="col l6 s12">
               <h5 class="white-text">Website Templates</h5>
               <p class="grey-text text-lighten-4">
                  All the templates are completely free to of charge and have no limits when it comes to editing as long as the copyright message is kept. For any problems/suggestions/bugs contact me using the red button on the bottom right of your page.</p>
            </div>
            <div class="col l4 offset-l2 s12">
               <h5 class="white-text">Social Media</h5>
               <a href="http://twitter.com/maloukos2" target="_blank"><i class="fa fa-twitter fa-2x social-icon twitter blue lighten-1"></i></a>
               <a href="https://www.youtube.com/channel/UCGFvxXzRuoW2S_1xrH1V58g" target="_blank"><i class="fa fa-youtube fa-2x social-icon youtube red lighten-1"></i></a>

            </div>
         </div>
      </div>
      <div class="footer-copyright blue darken-1">
         <div class="container">
            Made and Powered by aggelosQQ.
            <!--                <span class="right"><a href="/terms-of-service.html" style="color: #fff;">Terms of Service</a></span>-->
         </div>
      </div>



   </footer>


</body>

</html>