body {
  overflow-x: hidden; }

.header {
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  position: fixed;
  padding: 5px;
  padding-left: 10px;
  background: #fff; }
  .header img {
    width: 40px !important; }

.header .navigation .links .right {
  margin-right: 30px !important; }

.content {
  width: 100%; }

.legal .sidebar .sidebar-inner {
  background: -webkit-gradient(linear, left top, left bottom, from(#b9ad61), to(#6c632f));
  background: -webkit-linear-gradient(top, #b9ad61, #6c632f);
  background: -o-linear-gradient(top, #b9ad61, #6c632f);
  background: linear-gradient(to bottom, #b9ad61, #6c632f);
  height: 100vh;
  position: fixed;
  top: 61px;
  width: 16.66666667%;
  overflow: auto;
  padding-top: 10px; }
  .legal .sidebar .sidebar-inner .category h3 {
    font-size: 1em;
    cursor: pointer;
    padding: 15px 25px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: #efefef;
    font-weight: 400; }
    .legal .sidebar .sidebar-inner .category h3:hover {
      color: #fff;
      background: #c4ba7a; }
  .legal .sidebar .sidebar-inner .category .category-links {
    display: none; }
  .legal .sidebar .sidebar-inner i {
    vertical-align: middle;
    font-size: .8em; }
  .legal .sidebar .sidebar-inner h3, .legal .sidebar .sidebar-inner h2 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 400; }
  .legal .sidebar .sidebar-inner h2 {
    margin-bottom: 30px;
    font-size: 1em;
    padding-left: 10px; }
  .legal .sidebar .sidebar-inner h3 {
    font-size: 1em;
    padding-left: 20px; }
  .legal .sidebar .sidebar-inner ul {
    list-style: none; }
    .legal .sidebar .sidebar-inner ul li {
      padding: 20px 0; }
      .legal .sidebar .sidebar-inner ul li a {
        color: #eee;
        -webkit-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
        font-size: 1em; }
        .legal .sidebar .sidebar-inner ul li a:hover {
          color: #fff; }

.legal .legal-side {
  margin: 4.2% auto; }
  .legal .legal-side .heading {
    padding: 100px 50px;
    background: #ddd url("../img/header-bg.jpg") fixed center center;
    background-size: cover; }
    .legal .legal-side .heading h1 {
      color: #fff;
      text-transform: uppercase;
      font-size: 3em;
      text-align: center; }
  .legal .legal-side .document {
    padding: 25px; }
    .legal .legal-side .document p {
      text-align: justify;
      font-size: 1.1em; }

@media only screen and (max-width: 1080px) {
  .fixed {
    position: static; }
  .header {
    padding: 0; }
  .legal .sidebar {
    width: 100vw; }
    .legal .sidebar .sidebar-inner {
      height: auto;
      text-align: center; }
      .legal .sidebar .sidebar-inner .category {
        display: inline-block; }
        .legal .sidebar .sidebar-inner .category h3 {
          display: none; }
        .legal .sidebar .sidebar-inner .category ul {
          padding: 0;
          text-align: center; }
          .legal .sidebar .sidebar-inner .category ul li {
            padding: 0;
            display: inline-block; }
            .legal .sidebar .sidebar-inner .category ul li a {
              padding: 0;
              border-right: 1px solid #c1b673;
              padding-right: 10px;
              padding-left: 10px; }
            .legal .sidebar .sidebar-inner .category ul li .last-link {
              border-right: none; }
  .legal .legal-side {
    margin: 0 !important; }
    .legal .legal-side .heading {
      padding: 50px 0;
      text-align: center; }
  .legal .col-sm, .legal .col-sm-1, .legal .col-sm-10, .legal .col-sm-11, .legal .col-sm-12, .legal .col-sm-2, .legal .col-sm-3, .legal .col-sm-4, .legal .col-sm-5, .legal .col-sm-6, .legal .col-sm-7, .legal .col-sm-8, .legal .col-sm-9, .legal .col-sm-offset-0, .legal .col-sm-offset-1, .legal .col-sm-offset-10, .legal .col-sm-offset-11, .legal .col-sm-offset-12, .legal .col-sm-offset-2, .legal .col-sm-offset-3, .legal .col-sm-offset-4, .legal .col-sm-offset-5, .legal .col-sm-offset-6, .legal .col-sm-offset-7, .legal .col-sm-offset-8, .legal .col-sm-offset-9 {
    padding-left: 0 !important;
    padding-right: 0 !important; } }
